{{ replace .Comment "assert." "require."}}
func {{.DocInfo.Name}}{{.TypeParams}}(t TestingT, {{.Params}}) {
	t.Helper()
	if assert.{{.DocInfo.Name}}(t, {{.ForwardedParams}}) { return }
	t.FailNow()
}
